#centerwrap { 
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -500px; 
    }  

aside {
  padding: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: #333;
  background: #000000;
  float:left;
  height: 100%;
  width: 40%;
}

html{
  min-height: 100%;
}

body{
  background-image: url('../images/background.png');
  position: relative;
  min-height: 100%;
  /*width: 1024px;*/

}

h2 {
  font-size: 28px;
  font-family: 'Roboto Slab', serif;
}

h3, a, form{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color:#777777;
  text-decoration: none;
}

a:hover{
  color: #4F95DD;
}

header{
  height: 80px;
  background-color: white;
  position: relative;
  border-bottom: 2px #CCCCCC solid;
}

#name{
  position: absolute;
  left: 10%;
  color: white;
  background-color: #00AFA8;
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
}

ul{
    list-style-type: none;
    position: absolute;
    right: 10%;
    top: 40%;
}

.topLinks{
    display: inline;
    align-items: center;
  justify-content: center;
}

body{
  position: relative;
}


.leftbox{
  width: 600px;
  background-color: white;
  border: 2px #CCCCCC solid; 
  position: absolute;
  left: 10%;
  top: 120px;
}

#profilepic{
  float: left;
  padding: 30px 20px 20px 25px;
}

#profiletext{
  line-height: 200%;
  padding: 10px 20px 10px 30px;
}

#connect{
  background-color: white;
  position: absolute;
  right: 10%;
  top:120px;
  border: 2px #CCCCCC solid; 
}

#rightbox{
  font-size: 22px;
  padding: 30px 0px 20px 0px;
  text-align: center;
  color: #00AFA8;
  border-bottom: 2px #DDDDDD solid;
}

footer{
  width: 100%;
  position: absolute;
  top: 1100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666666;
  border-top: 5px #00AFA8 solid;
}

#copyright{
  color: white;
}